services:
  server:
    build: ./src
    command: >
      sh -c "npm install &&
            npm start"
    ports:
      - "3000:3000"
    environment:
      - DEEPSEEK_API_KEY=
    volumes:
      - ./src:/usr/src/app
    restart: always